<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>Il semble y avoir un problème... <%= htmlWebpackPlugin.options.title %> Contactez le développeur du site: <a href="mailto:lucas.rob1@live.fr">lucas.rob1@live.fr</a></strong>
    </noscript>
    <div id="divWpVue"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
