<template>
  <div class="home">

    <!-- Navbar -->
    <nav-bar></nav-bar>

    <!-- Header -->
    <header id="accueil" class="pt-16 bg-blue-lightest">
      <div class="container mx-auto lg:px-6 lg:flex justify-between">
        <div class="w-full lg:w-1/2 flex flex-col justify-center items-start text-grey-darkest">
          <h1 class="text-blue  md:text-6xl text-4xl px-10 lg:px-0 pt-10 lg:pt-0">Courses Houses est là pour vous !</h1>
          <h3 class="lg:text-2xl md:text-xl font-medium py-4 px-10 lg:px-0">RAPIDE | ACCESSIBLE | CONFORTABLE</h3>
          <p class="md:text-xl md:w-2/3 lg:pb-8 pb-4 px-10 lg:px-0">Premier service de livraison de courses à domicile, oubliez les longues files d'attentes et profitez de la vie, on s'occupe de tout !</p>
          <a href="#about" v-smooth-scroll="{offset: -100}" class="no-underline transition py-3 font-medium px-6 mx-10 lg:mx-0 text-white bg-blue rounded-full border-2 border-blue hover:bg-white hover:text-blue">EN SAVOIR PLUS</a>
        </div>
        <div class="w-full lg:w-1/2 lg:py-20 flex justify-center lg:justify-end p-10">
          <img :src="`${imageBasePath}/shopper.png`" alt="" class="lg:w-full w-3/4 sm:w-3/5"/>
        </div>
      </div>
    </header>

    <!-- À quoi ça sert -->
    <section id="about" class="bg-white lg:mt-8">
      <div class="container mx-auto lg:px-6 lg:flex justify-between lg:py-10 py-4">
        <div class="hidden w-full lg:w-1/2 lg:flex lg:justify-start justify-center">
          <img :src="`${imageBasePath}/chill.png`" alt="" class="w-4/5">
        </div>
        <div class="w-full lg:w-1/2 flex-col justify-center items-start text-grey-darkest">
          <h3 class="md:text-2xl  font-medium py-4 px-10 lg:px-0 lg:text-right text-left">À quoi ça sert ?</h3>
          <h2 class="md:text-3xl text-blue  text-xl px-10 lg:px-0 pb-4 lg:pt-0 text-left lg:text-right">C'est très simple !</h2>
          <p class="md:text-xl lg:pb-6 pb-4 px-10 lg:px-0 lg:text-right">Lorem ipsum dolor sit amet, consectetur magni numquam eius porro modi non quas in nesse nostrum repellendus ipsa rem Beatae eos, magni numquam eius porro modi</p>
          <div class="flex lg:justify-end justify-start py-2">
            <a href="#delivery" v-smooth-scroll="{offset: -100}" class="no-underline transition py-3 font-medium px-6 mx-10 lg:mx-0 text-white bg-blue rounded-full border-2 border-blue hover:bg-white hover:text-blue">VOIR LES SERVICES</a>
          </div>
        </div>
        <!-- <div class="lg:hidden w-full lg:w-1/2 flex lg:justify-start justify-center py-5">
          <img src="@/assets/chill.png" alt="" class="w-4/5 sm:w-3/5">
        </div> -->
      </div>
    </section>

    <!-- Section cartes de services et formulaire -->
    <section id="delivery" class="bg-white py-5 lg:mt-8 lg:h-128"> 
      <div class="container mx-auto ">

        <!-- <div class="flex flex-col items-left w-full">
          <h3 class="py-4 px-10 lg:px-0 lg:text-center text-grey-darkest font-medium lg:text-2xl">Ça vous tente ?</h3>
          <h2 class="lg:text-3xl text-xl text-blue px-10 lg:px-0 pb-4 lg:pt-0 lg:text-center lg:pb-10">N'hésitez plus !</h2>
        </div> -->

        <transition
          enter-active-class="animated fadeInRight"
          leave-active-class="animated fadeOutLeft"
          mode="out-in"
        >
          <router-view/>
        </transition>

      </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="bg-white py-5 lg:mb-24 mb-20 lg:mt-8">
      <div class="flex flex-col justify-center items-center">
        <h2 class="text-blue lg:text-5xl text-4xl py-10 text-center px-6 lg:px-0">Faite nous par de votre commande</h2>
        <p class="text-grey-darkest text-xl pb-10 text-center px-2 lg:px-0">Par téléphone ou sur nos réseaux</p>
        <div class="flex justify-around lg:w-1/4 pb-10">
          <a href="#">
            <img :src="`${imageBasePath}/snapchat.png`" alt="" height="50" width="50">
          </a>
          <a href="#" class="mx-10 lg:mx-0">
            <img :src="`${imageBasePath}/facebook.png`" alt="" height="50" width="50">
          </a>
          <a href="#">
            <img :src="`${imageBasePath}/instagram.png`" alt="" height="50" width="50">
          </a>
        </div>
        <a href="tel:+33755014295" class="transition border-2 border-blue hover:bg-white hover:text-blue no-underline text-white bg-blue rounded-full lg:text-5xl text-2xl px-16 py-2 font-bold ">07 55 01 42 95</a>
      </div>
    </section>

    <!-- Bas de la page -->
    <footer class="bg-blue-lightest">
      <div class="container mx-auto flex justify-center p-6">
        <p class="text-grey-darkest font-light text-sm">IS Web & Video Design © 2019 Tout droits réservés | Mentions légales</p>
      </div>
    </footer>

    <!-- Formulaire de paiement -->
    <!-- <payment-form></payment-form> -->
  </div>
</template>

<script>
import PaymentForm from '@/components/PaymentForm.vue';
import NavBar from '@/components/NavBar.vue';
import { Carousel, Slide } from 'vue-carousel';

export default {
  name: 'Home',
  components: {
    PaymentForm,
    NavBar,
    Carousel,
    Slide,
  },
  mounted() {
    if(this.$route.path !== '/') {
      this.$router.push({name: 'slider'})
    }
    this.$store.dispatch('fetchDeliveries')
  },
  computed: {
    imageBasePath() {
      return process.env.VUE_APP_IMAGE_PATH
    }
  }
}
</script>

<style lang="scss">
  .card {
    margin: 0!important;
  }

  .VueCarousel-slide {
    padding: 30px 20px;
  }

  .VueCarousel-pagination {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0 !important;
    padding-top: 20px;
  }

  .VueCarousel-dot-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 0!important;
    
    button {
      margin: 0!important;
    }
  }

</style>
