<template>
    <div class="flex w-full justify-center item-center">
        <div class="pr-2 lg:pr-4 ">
            <div
                :class="{ 'border-blue': value }"
                class="w-5 h-5 rounded border inline-flex justify-center items-center bg-white cursor-pointer"
                @click="$emit('change', !value)">
                    <transition enter-active-class="animated zoomIn faster" leave-active-class="animated zoomOut faster">
                        <!-- <em v-if="value" :class="{ 'text-blue': value }" class="hsbc-icon hsbc-icon-agree"></em> -->
                        <font-awesome-icon v-if="value" icon="check" :class="{ 'text-blue': value }" />
                    </transition>
            </div>
        </div>
        <div class="flex items-center">
            <p @click="$emit('change', !value)" class="font-light text-blue leading-tight text-sm lg:text-md">
                {{ label }}
                <!-- <span v-if="required" class="text-hsbc-red">*</span> -->
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        model: {
            event: 'change'
        },
        props: {
            value: Boolean,
            label: String,
            required: Boolean
        }
    };
</script>
