<template>
    <div class="card lg:w-4/5 rounded-xl py-10 px-6 mx-auto lg:mx-0 mb-10 lg:mb-0" :style="`background-color:${this.color}`">
        <div class="flex flex-col items-center">
            <h4 class="text-white lg:text-lg font-light lg:py-5 py-3">{{ this.title }}</h4>
            <hr class="h-px bg-white w-1/5">
            <p class="text-white font-light lg:text-6xl text-5xl lg:py-10 p-5">{{ this.price }} €</p>
            <p class="text-white lg:pb-10 text-sm font-light text-center pb-5" v-html="this.description"></p>
            <button
                v-if="!selected"
                @click="select"
                @mouseover="hoverMe($event)"
                @mouseout="hoverMe($event)"
                class="hover:bg-white text-white border border-white bg-transparent rounded-lg font-medium px-8 py-3"
            >
                CONTACTER
            </button>
            <button 
                v-else
                class="hover:bg-white no-underline text-white border border-white bg-transparent rounded-lg font-medium px-8 py-3"
                @mouseover="hoverMe($event)"
                @mouseout="hoverMe($event)"
                @click="$router.push({name: 'slider'})"
            >
                REVENIR
            </button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            toggle: false,
        }
    },
    props: {
        title: {
            type: String,
            required: true,
            default: '',
        },
        price: {
            type: String,
            required: true,
            default: 0,
        },
        description: {
            type: String,
            required: true,
            default: '',
        },
        color: {
            type: String,
            required: true,
            default: '',
        },
        selected: {
            type: Boolean,
            required: true,
            default: false,
        },
    },
    methods: {
        select() {
            this.$router.push({ name: 'formulaire',  params: { ...this.$props } })
        },
        hoverMe(e) {
            if(!this.toggle) {
                this.toggle = true
                e.target.style.color = this.color
            } else {
                this.toggle = false
                e.target.style.color = '#fff'
            }

        }
    },
    mounted() {
        console.log(this.color);
        
    }
}
</script>

<style scoped lang="scss">
    .card {
        box-shadow: 7px 10px 15px 2px rgba(0, 0, 0, .3);
        button {
            transition: all 0.3s;
        }
    }
</style> 