<template>
    <!-- Container des cartes -->
    <div class="container-cards w-full justify-around">
        <carousel :perPageCustom="[[320, 1], [576, 2], [768, 3], [1024, 3]]" paginationColor="#eaf2ff"
            paginationActiveColor="#2286C2">
            <slide v-for="delivery in deliveries" :key="delivery.id">
                <delivery-card
                    :title="delivery.title"
                    :price="delivery.price"
                    :description="delivery.description"
                    :color="delivery.color"
                    :selected="false" 
                />
            </slide>
        </carousel>
    </div>
</template>

<script>
import DeliveryCard from '@/components/DeliveryCard.vue';
import {mapGetters} from 'vuex';

export default {
    components: {
        DeliveryCard,
    },
    computed: {
        ...mapGetters({
            deliveries: 'getDeliveries',
        })
    },
}
</script>

<style>
.VueCarousel-slide {
    display: flex;
    justify-content: center;
}

</style>