<template>
	<div class="menu fixed top-0 w-full z-50 bg-transparent md:bg-white">
		<nav class="relative z-50 w-full flex items-center justify-between pl-4 bg-white lg:px-6 h-16 container mx-auto">
			<div class="p-0 lg:w-1/2 flex items-center items-center text-white h-full">
				<span class="font-light lg:text-3xl text-xl tracking-tight text-blue">Courses <b class="font-bold">House</b></span>
			</div>
			<ul class="hidden p-0 lg:w-2/5 text-sm list-style-none lg:flex lg:justify-between lg:h-full">
				<li class="lg:h-full flex items-center">
					<a href="#accueil" v-smooth-scroll="{offset: -100, updateHistory: false}" class="transition lg:text-lg lg:h-full text-blue font-bold no-underline flex items-center hover:text-white hover:bg-blue lg:px-2">
						ACCUEIL
					</a>
				</li>
				<li class="lg:h-full flex items-center">
					<a href="#about" v-smooth-scroll="{offset: -100, updateHistory: false}" class="transition lg:text-lg lg:h-full text-blue font-bold no-underline flex items-center hover:text-white hover:bg-blue lg:px-2">
						À PROPOS
					</a>
				</li>
				<li class="lg:h-full flex items-center">
					<a href="#delivery" v-smooth-scroll="{offset: -100, updateHistory: false}" class="transition lg:text-lg lg:h-full text-blue font-bold no-underline flex items-center hover:text-white hover:bg-blue lg:px-2">
						SERVICES
					</a>
				</li>
				<li class="lg:h-full flex items-center">
					<a href="#contact" v-smooth-scroll="{offset: -100, updateHistory: false}" class="transition lg:text-lg lg:h-full text-blue font-bold no-underline flex items-center hover:text-white hover:bg-blue lg:px-2">
						CONTACT
					</a>
				</li>
			</ul>
			<div class="block lg:hidden h-full w-1/5 flex">
				<button 
					@click="toggle = !toggle"
					class="outline-none transition flex items-center justify-end pr-4 w-full h-full"
				>
					<font-awesome-icon 
						icon="bars"
						class="transition text-3xl text-blue"
						:class="{'transform': toggle}"
					/>
				</button>
			</div>
		</nav>
		<transition enter-active-class="animated fadeInDown faster" leave-active-class="animated fadeOutUp faster">
			<div v-if="toggle">
				<ul class="p-0 w-full text-sm list-style-none flex flex-col bg-blue items-start py-2">
					<li class="lg:h-full flex items-center p-4">
						<a href="#accueil" v-smooth-scroll="{offset: -100}" class="lg:h-full text-white font-bold no-underline flex items-center lg:px-2">
							ACCUEIL
						</a>
					</li>
					<li class="lg:h-full flex items-center p-4">
						<a href="#about" v-smooth-scroll="{offset: -100}" class="lg:h-full text-white font-bold no-underline flex items-center lg:px-2">
							À PROPOS
						</a>
					</li>
					<li class="lg:h-full flex items-center p-4">
						<a href="#delivery" v-smooth-scroll="{offset: -100}" class="lg:h-full text-white font-bold no-underline flex items-center lg:px-2">
							SERVICES
						</a>
					</li>
					<li class="lg:h-full flex items-center p-4">
						<a href="#contact" v-smooth-scroll="{offset: -100}" class="lg:h-full text-white font-bold no-underline flex items-center lg:px-2">
							CONTACT
						</a>
					</li>
				</ul>
			</div>
		</transition>
	</div>
</template>

<script>
export default {
	name: 'nav-bar',
	data() {
		return {
			toggle: false,
		}
	}
}
</script>

<style lang="scss" scoped>
	.menu {
		z-index: 999999 !important;
	}
</style>