<template>
    <form class="form w-full flex flex-col lg:flex-row" action="" v-on:submit.prevent="">
        <div class="w-full lg:w-1/3 flex items-center justify-center">
            <div class="w-5/6">
                <delivery-card
                    :title="$route.params.title"
                    :price="$route.params.price"
                    :description="$route.params.description"
                    :color="$route.params.color"
                    :selected="true"
                />
            </div>
        </div>
        <div class="w-full lg:w-2/3">
            <h3 class="text-center text-grey-darkest text-xl lg:mb-4 pt-10 lg:pt-0">VALIDATION DE LA COMMANDE</h3>
            <div class="w-full flex lg:flex-row flex-col">
                <!-- Partie gauche du formulaire -->
                <div class="w-full lg:w-1/2 flex flex-col">
                    <!-- Nom -->
                    <div class="flex justify-center">
                        <input
                            v-model="$v.form.lastname.$model"
                            @blur="$v.form.lastname.$touch()"
                            @keypress="preventNumberKeys"
                            @change="updateFormData(form)"
                            type="text"
                            class="lg:my-4 my-6 w-4/5 py-2 border-b-2 rounded-sm text-blue outline-none"
                            :class="{'border-red text-red' : $v.form.lastname.$error}"
                            placeholder="NOM"
                            name="customer_lastname"
                        >
                    </div>

                    <!-- Prénom -->
                    <div class="flex justify-center">
                        <input 
                            v-model="$v.form.firstname.$model"
                            @blur="$v.form.firstname.$touch()"
                            @keypress="preventNumberKeys"
                            @change="updateFormData(form)"
                            type="text"
                            class="lg:my-4 my-6 w-4/5 py-2 border-b-2 rounded-sm text-blue outline-none"
                            :class="{'border-red text-red' : $v.form.firstname.$error}"
                            placeholder="PRÉNOM"
                            name="customer_firstname"
                        >
                    </div>

                    <!-- Adresse de livraison -->
                    <div class="flex justify-center"> 
                        <input 
                            v-model="$v.form.address.$model"
                            @blur="$v.form.address.$touch()"
                            @change="updateFormData(form)"
                            class="lg:my-4 my-6 w-4/5 py-2 border-b-2 rounded-sm text-blue outline-none"
                            :class="{'border-red text-red' : $v.form.address.$error}"
                            type="text"
                            placeholder="ADRESSE DE LIVRAISON"
                            name="customer_address"
                        >
                    </div>

                    <!-- Code postal -->
                    <div class="flex justify-center">
                        <input 
                            v-model="$v.form.postal.$model"
                            @blur="$v.form.postal.$touch()"
                            @change="updateFormData(form)"
                            type="text"
                            class="lg:my-4 my-6 w-4/5 py-2 border-b-2 rounded-sm text-blue outline-none"
                            :class="{'border-red text-red' : $v.form.postal.$error}"
                            placeholder="CODE POSTAL"
                            name="customer_postal"
                        >
                    </div>
                </div> 

                <!-- Partie droite du formulaire -->
                <div class="w-full lg:w-1/2 flex flex-col">
                    <!-- Ville -->
                    <div class="flex justify-center">
                        <input 
                            v-model.trim="$v.form.city.$model"
                            @blur="$v.form.city.$touch()"
                            @keypress="preventNumberKeys"
                            @change="updateFormData(form)"
                            type="text"
                            class="lg:my-4 my-6 w-4/5 py-2 border-b-2  rounded-sm text-blue outline-none"
                            :class="{'border-red text-red' : $v.form.city.$error}"
                            placeholder="VILLE"
                            name="customer_city"
                        >
                    </div>

                    <!-- Mobile -->
                    <div class="flex justify-center">
                        <input
                            v-model="$v.form.phone.$model"
                            @blur="$v.form.phone.$touch()"
                            @keypress="preventExceedSizePostal($event, 9, form.phone)"
                            @change="updateFormData(form)"
                            type="number"
                            class="lg:my-4 my-6 w-4/5 py-2 border-b-2 rounded-sm text-blue outline-none"
                            :class="{'border-red text-red' : $v.form.phone.$error}"
                            placeholder="NUMÉRO DE TÉLÉPHONE"
                            name="customer_phone"
                        >
                    </div>

                    <!-- Email -->
                    <div class="flex justify-center">
                        <input
                            v-model="$v.form.mail.$model"
                            @blur="$v.form.mail.$touch()"
                            @change="updateFormData(form)"
                            type="email"
                            class="lg:my-4 my-6 w-4/5 py-2 border-b-2 rounded-sm text-blue outline-none"
                            :class="{'border-red text-red' : $v.form.mail.$error}"
                            placeholder="EMAIL"
                            name="customer_email"
                        >
                    </div>

                    <div class="hidden lg:flex justify-center lg:my-4 lg:pt-4 my-6">
                        <Checkbox
                            v-model="$v.form.optin.$model"
                            label="J'ai lu et j'accepte les conditions générales"
                            :required="true"
                            @change="form.optin = $event"
                        />
                    </div>
                </div>
            </div>

            <!-- Message -->
            <div class="flex justify-left px-10">
                <textarea
                    rows="1"
                    v-model="$v.form.message.$model"
                    @blur="$v.form.message.$touch()"
                    @change="updateFormData(form)"
                    class="lg:my-4 w-full py-2 border-b-2 my-6 rounded-sm text-blue outline-none"
                    :class="{'border-red text-red' : $v.form.message.$error}"
                    placeholder="MESSAGE AU LIVREUR"
                    name="customer_email"
                ></textarea>
            </div>

            <div class="lg:hidden flex justify-center px-10 lg:px-0 lg:my-4 lg:pt-4 my-6">
                <Checkbox
                    v-model="$v.form.optin.$model"
                    label="J'ai lu et j'accepte les conditions générales"
                    :required="true"
                    @change="form.optin = $event"
                />
            </div>

            <div v-if="!isPayed" class="flex justify-center lg:pt-10 pt-4">
                <PayPal
                    v-if="!$v.$invalid"
                    :amount="String($route.params.price)"
                    currency="EUR"
                    :client="credentials"
                    :button-style="buttonStyle"
                    locale="fr_FR"
                    env="sandbox"
                    @payment-cancelled="paymentCancelled($event)"
                    @payment-completed="paymentCompleted($event)"
                />
            </div>
            <div v-else class="flex justify-center lg:pt-10 pt-4">
                <div class="flex items-center">
                    <font-awesome-icon :icon="['far','check-circle']" class="text-2xl text-green" />
                    <p class="pl-4 text-green text-lg font-medium">Félicitation ! Votre demande nous a été transmise et un coursier va prochainement prendre contact avec vous afin de répondre au mieux à votre demande.</p>
                </div>
            </div>
        </div>

    </form>
</template>

<script>

import PayPal from 'vue-paypal-checkout'
import Checkbox from '@/components/Checkbox.vue'
import { required, email, sameAs, minLength, helpers, numeric, maxLength } from 'vuelidate/lib/validators'
import { mapMutations } from 'vuex'
import preventFunctions from '@/utils/prevent'
import DeliveryCard from '@/components/DeliveryCard.vue'

const alphaCustom = helpers.regex('alphaCustom', /^[A-Z\É\È\Ê\Ë\À\Â\Á\Ä\Î\Ì\Ï\Í\Ç][A-Za-z\ç\é\á\ó\ú\í\è\ò\ù\ì\à\ê\î\â\ô\û\'\-\ ]+$/)
const alphaNumCustom = helpers.regex('alphaNumCustom', /^[0-9A-Za-z\ç\é\á\ó\ú\í\è\ò\ù\ì\à\ê\î\â\ô\û\'\-\ ]+$/)

export default {
    name: 'payment-form',
    components: {
        PayPal,
        Checkbox,
        DeliveryCard
    },
    data () {
        return {
            isPayed: false,
            buttonStyle: {
                label: 'checkout',
                size:  'medium',
                shape: 'pill',
                color: 'blue'
            },
            credentials: {
                sandbox: 'AUvtQBhkwA2dh-9PgLIoJgNXpYfiZx6DpoczJIT9xUN2UDLxgxydfE_pqrDfuveek1EG-mcT-0Ls4cWW',
                production: 'lucas.rob1@live.fr',
            },
            form: {
                lastname: null,
                firstname: null,
                mail: null,
                phone: null,
                address: null,
                postal: null,
                city: null,
                message: null,
                optin: false
            },
        }
    },
    validations: {
        form: {
            lastname: {
                required,
                alphaCustom,
                minLength: minLength(2),
            },           
            firstname: {
                required,
                alphaCustom,
                minLength: minLength(2),
            },
            mail: {
                required,
                email,
            },
            phone: {
                required,
                numeric,
            },
            address: {
                required,
                alphaNumCustom,
            },
            city: {
                required,
                alphaCustom
            },
            postal: {
                required,
                minLength: minLength(5),
                maxLength: maxLength(5),
            },
            message: {
                required,
            },
            optin: {
                sameAs: sameAs( () => true ),
            },
        }
    },
    methods: {
        ...mapMutations(['updateFormData']),
        ...preventFunctions,
        paymentCancelled(event) {
            document.location.reload(true)
        },
        paymentCompleted(event) {
            if (event.state === 'approved') {
                this.isPayed = true
                this.$store.dispatch('submitForm')
            } else {
                console.warn('Payement refused !')
            }
        }
    },
    mounted() {
        this.$store.commit('updateFormData', {
            title: this.$route.params.title,
            price: this.$route.params.price,
        })
    }
}
</script>

<style scoped>
    ::placeholder {
        color: #7B9AB4;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #7B9AB4;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #7B9AB4;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>